<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuo.huahua.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.kuo.huahua.entity.Student">
        <id column="cea_student_id" property="ceaStudentId" />
        <result column="cea_class_id" property="ceaClassId" />
        <result column="cea_student_name" property="ceaStudentName" />
        <result column="cea_student_gender" property="ceaStudentGender" />
        <result column="cea_student_status" property="ceaStudentStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cea_student_id, cea_class_id, cea_student_name, cea_student_gender, cea_student_status
    </sql>

    <select id="getStudentList" resultType="java.util.HashMap" parameterType="com.kuo.huahua.dto.TeacherTermDto">
        <bind name="classNameQ" value="'%' + className + '%'"/>
        <bind name="studentNameQ" value="'%' + studentName + '%'"/>
        SELECT A.cea_student_id,
          A.cea_class_id,
          B.cea_class_name,
          A.cea_student_name,
          A.cea_student_gender,
          A.cea_student_status
        FROM cea_student A
          LEFT JOIN cea_class B ON A.cea_class_id = B.cea_class_id
        WHERE 1 = 1
        <if test="null != className and '' != className">
            AND B.cea_class_name LIKE #{classNameQ}
        </if>
        <if test="null != studentName and '' != studentName">
            AND A.cea_student_name LIKE #{studentNameQ}
        </if>
        ORDER BY B.cea_class_name DESC, A.cea_student_name
    </select>
</mapper>