<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuo.huahua.mapper.TeacherClassMapper">
    <resultMap id="BaseResultMap" type="com.kuo.huahua.entity.TeacherClass">
        <id column="cea_teacher_class_id" property="ceaTeacherClassId" />
        <result column="cea_teacher_id" property="ceaTeacherId" />
        <result column="cea_class_id" property="ceaClassId" />
        <result column="cea_class_rank" property="ceaClassRank" />
        <result column="cea_term" property="ceaTerm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cea_teacher_class_id, cea_teacher_id, cea_class_id, cea_class_rank, cea_term
    </sql>

</mapper>